[Unit]
Description=Raspberry Pi GPIO-PPS-to-NTP-SHM translator
Documentation=https://vanheusden.com/time/rpi_gpio_ntp/

[Service]
EnvironmentFile=/etc/default/rpi_gpio_ntp
ExecStart=/usr/local/bin/rpi_gpio_ntp -f -N $SHMSEG -g $GPIO $OPTS
Restart=always

[Install]
WantedBy=multi-user.target
